<link rel="stylesheet" href="/static/css/style.css">
<h2>Add Product</h2>

<form method="POST" enctype="multipart/form-data">

Seller Name:
<input type="text" name="seller_name"><br><br>

 Product Name:
<input type="text" name="name"><br><br>

Per Pack:
<input type="text" name="per_pack"><br><br>

Price:
<input type="number" name="price"><br><br>

Category:
<select name="category">
<option>Papad</option>
<option>Lonche</option>
<option>Combo</option>
<option>upwas</option>
<option>kuradai</option>
<option>snacks</option>
    
</option>
</select><br><br>

Ingredients:
<input type="text" name="ingredients"><br><br>

Image:
<input type="file" name="image"><br><br>

<button type="submit">Add Product</button>

</form>