<link rel="stylesheet" href="/static/css/style.css">
<!DOCTYPE html>
<html>
<head>
    <title>My Orders</title>
    <style>
          .edit-btn {
            background-color: red;
            color: white;
            border: none;
            padding: 8px 15px;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
        }
    </style>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>

<h2 class="title"><i class="fas fa-box"></i> My Orders</h2>

<div class="container">

    <div class="container">

{% if data %}
    {% for order in data %}

    <div class="card">

        <div class="card-top">
            <h3>{{ order[1] }}</h3>
        </div>

        <div class="details">
            <p><b>Name:</b> {{ order[2] }}</p>
            <p><b>Phone:</b> {{ order[3] }}</p>
            <p><b>Address:</b> {{ order[4] }}</p>
        </div>

        <div class="status-btn">
            Order Confirmed
        </div>

        <!-- ✅ EDIT BUTTON -->
        <a href="/edit_order/{{order[0]}}">Edit</a>

    </div>

    {% endfor %}
{% else %}
    <h3>No Orders Found</h3>
{% endif %}

</div>

<a href="/buyer_dashboard" class="back-btn">
    <i class="fas fa-arrow-left"></i> Back 
</a>

</body>
</html>